<?xml version="1.0" encoding="ISO-8859-1" ?> 
<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
         version="2.5">

    <!-- A continuacion deben declararse todas las Interfaces que se implementan como
         Servlets en el sistema. Para cada Interfaz deben declararse los tags
         <servlet> y <servlet-mapping>  
     -->

    <servlet>
     <servlet-name>Editores</servlet-name>
     <servlet-class>controles.Editores</servlet-class>
    </servlet>
 
     <servlet-mapping>
         <servlet-name>Editores</servlet-name>
         <url-pattern>/EditoresJefe</url-pattern>
     </servlet-mapping>    

    
    <servlet>
     <servlet-name>InterfazNuevoUsuario</servlet-name>
     <servlet-class>interfaces.AltaUsuario</servlet-class>
    </servlet>
 
     <servlet-mapping>
         <servlet-name>InterfazNuevoUsuario</servlet-name>
         <url-pattern>/RegistrarUsuario</url-pattern>
     </servlet-mapping>
    
    <servlet>
     <servlet-name>IntefazNuevoAutor</servlet-name>
     <servlet-class>interfaces.AltaAutor</servlet-class>
    </servlet>
 
     <servlet-mapping>
         <servlet-name>IntefazNuevoAutor</servlet-name>
         <url-pattern>/RegistrarAutor</url-pattern>
     </servlet-mapping>

     <servlet>
     <servlet-name>IntefazNuevoArticulo</servlet-name>
     <servlet-class>interfaces.NuevoArticulo</servlet-class>
    </servlet>
 
     <servlet-mapping>
         <servlet-name>IntefazNuevoArticulo</servlet-name>
         <url-pattern>/NuevoArticulo</url-pattern>
     </servlet-mapping>

     <servlet>
     <servlet-name>InterfazJuez</servlet-name>
     <servlet-class>interfaces.InterfazJuez</servlet-class>
    </servlet>
 
     <servlet-mapping>
         <servlet-name>InterfazJuez</servlet-name>
         <url-pattern>/IntJuez</url-pattern>
     </servlet-mapping>

     <servlet>
     <servlet-name>CrearRevista</servlet-name>
     <servlet-class>interfaces.CrearRevista</servlet-class>
    </servlet>
 
     <servlet-mapping>
         <servlet-name>CrearRevista</servlet-name>
         <url-pattern>/CrearRevista</url-pattern>
     </servlet-mapping>
    
    
</web-app>
